
*{
    box-sizing: border-box;
}

body,html{
    margin: 0;
    padding: 0;;
}

h1{
    text-align: center;
    background-color: red;
    padding: 25px;
    font-weight: 800;
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
}

li,a {
    display: inline-block;
    padding: 8px;

  }
#dropdown{
    position: sticky;
    top:0%;
    z-index: 1;
}

.submenu{
    display: none;
    position: absolute;
    background-color:rgb(233, 227, 227);
    min-width: 80px;

}
.menu li:nth-child(2):hover .submenu,
.menu li:nth-child(3):hover .submenu{
    display: block;
}
.submenu a {
    color: skyblue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin:0;

  }
  .submenu li{
      display: block;
      padding:10px;
  }
.submenu li:hover {background-color:#4c4a4ac8;
}
